In [1]:
import pandas as pd
import re
import os
import numpy as np
import glob
from datetime import datetime
import geopandas as gpd
import json
from shapely.geometry import shape, GeometryCollection
from rasterio.plot import show
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
from matplotlib import colors
from utils import FeatureExtraction, feature_matching, decimal_coords
from exif import Image as exifimg
from PIL import Image

import shutil
import rasterio
import cv2
%matplotlib inline

In [2]:
# 가능한 font list 확인
import matplotlib.font_manager as fm
f = [f.name for f in fm.fontManager.ttflist]
# print(f)

plt.rc('font', family='Malgun Gothic')

In [3]:
Target_year = 2023

pd.set_option('display.max_rows', 20)
pd.options.display.float_format = '{:,.1f}'.format

User_Name = 'dsadmin'
AWS_folder = os.getcwd()

src_folder = os.path.join(AWS_folder,'ToUpload', 'Label')

In [4]:
os.getcwd()

'c:\\Users\\yc463\\Documents\\JamesLocal\\DS\\Drone\\dsmapv2\\src\\AWS'

In [5]:
target_files = glob.glob(os.path.join(src_folder,'**/*.xlsx'), recursive=True)
target_files

['c:\\Users\\yc463\\Documents\\JamesLocal\\DS\\Drone\\dsmapv2\\src\\AWS\\ToUpload\\Label\\label_info.xlsx',
 'c:\\Users\\yc463\\Documents\\JamesLocal\\DS\\Drone\\dsmapv2\\src\\AWS\\ToUpload\\Label\\turf_type.xlsx']

In [14]:
file_ = [x for x in target_files if 'label' in x][0]
pd.ExcelFile(file_ ).sheet_names

['simplified']

In [15]:
label_df = pd.read_excel(pd.ExcelFile(file_ ), pd.ExcelFile(file_ ).sheet_names[0])
label_df.head(5)

   TypeId     L1       L2
0     101  건강한잔디       일반
1     102  건강한잔디       배토
2     103  건강한잔디  통기 (유공)
3     104  건강한잔디  통기 (무공)
4     105  건강한잔디  시비 (알비)

In [9]:
file_to_save = os.path.join(os.path.split(file_)[0],os.path.split(file_)[1].replace('.xlsx','.json'))
with open(file_to_save, "w", encoding="utf-8") as file:
    file.write(json.dumps(json.loads(label_df.fillna("").to_json(orient="records", force_ascii=False)), ensure_ascii=False))

In [16]:
file_ = [x for x in target_files if 'turf' in x][0]
pd.ExcelFile(file_ ).sheet_names

['simplified']

In [17]:
label_df = pd.read_excel(pd.ExcelFile(file_ ), pd.ExcelFile(file_ ).sheet_names[0])
label_df.head(5)

   TypeId turf_type
0       1      한국잔디
1       2     벤트그래스
2       3  켄터키블루그래스
3       4     라이그래스
4       5    버뮤다그래스

In [18]:
file_to_save = os.path.join(os.path.split(file_)[0],os.path.split(file_)[1].replace('.xlsx','.json'))
with open(file_to_save, "w", encoding="utf-8") as file:
    file.write(json.dumps(json.loads(label_df.fillna("").to_json(orient="records", force_ascii=False)), ensure_ascii=False))